/* PS Project -  Aki Carusillo */

PlaygroundParent
{
    border:1px solid black;
    height:100%;
    width:100%;  
    position:fixed; 
    top:0%; 
    bottom:0%;
    left:0%;
    right:0%; 
    margin:auto;
    overflow: hidden;
    background: url("https://usagif.com/wp-content/uploads/gif/outerspace-77.gif") 100% 100%;
    display: none;

   
   
}
#PlayerParent
{
    position: absolute;
    left: 125;
    bottom:80;
}

.Invaders
{
    position: absolute;
    top:50;
    left:90;
}

#Right
{
    height:70;
    width: 70;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.5;
}
#Right img,#Left img
{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
}
#Left
{
    height:70;
    width: 70;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.5;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#Right:hover,#Left:hover
{
    cursor: pointer;
    opacity: 0.7;
}
#Bullet
{
    position: absolute;
    top:-25;
    left:17;
    margin: auto;
    display: none;

}
#Player
{
    position: absolute;
}

#Score
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:5;
}

#CollisionDetector
{
    height: 55;
    width: 35;
    position: absolute; 
    top: 8;
    left:5;
}


#Message
{
    height:170;
    width: 200;
    box-shadow: 1px 0 6px 1px rgba(0,0,0,0.5);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    position: fixed;
    top:-500;
    left:0;
    right:0;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background: #fff;

    transition: top 500ms linear;
    border-radius: 12px;
    
}
#Comment
{
    background-color: #FF6B6B;
    height: 30;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    font-size: 15;
    color: white;
    line-height: 28px; 


}

#Restart
{
    background: #5EB962;
    border:none;

    color:white;
    height:30;
    border-radius: 10px;
    box-shadow: 1px 0 3px 1px rgba(0,0,0,0.5);
    cursor: pointer;

}

#Restart:hover
{
    background: #70BD73;
}

#Restart:focus
{
    outline: none;
    
}
#MessageParent
{
    height: 100%;
    width: 100%;
    position: fixed;
    left:0;
    top:0;

}


#L_Parent
{
  height:40px;
  width: 40px;

  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  


}
#Load
{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 4px solid #fff;
    border-top-color: #74678A;
    background-clip: content-box;
}

#LoadingData
{
  height: 30px;
  width: 30px;
  font-size: 25;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20%;
  left: 0%;
  right: 0%;
  margin: auto;
}


#Start
{
    height:30;
    width: 80;
    border:none;
    background: #A1C2D6;
    border-radius: 10px;
    cursor: pointer;
}

#Start:hover
{
    background:#DEECF5;
}
#Start:focus
{
    outline: none;
}


#MainMenu
{
    height: 750px;
    width: 1050px;
    position: auto;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto; 

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40;
    text-align: center;
    border-radius:50px;
    box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 1);

    background: url("https://thumbs.gfycat.com/AbsoluteOddballGoat-size_restricted.gif");
    background-size: 100% 100%;
    display: none;

   
}
#Transparent
{
    height: 100%;
    width: 100%;
    border-radius:50px;
    background: rgba(0,0,0,0.6);
    
}